.header {
  background-color: white;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  &__sidebar-button {
    margin-right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    img {
      min-width: 18px;
    }
  }

  &__title {
    margin-right: auto;
    font-weight: 600;
    font-size: 28px;
    color: #343c6a;
  }
  &__search {
    margin-right: 30px;
    background-color: #f5f7fa;
    border-radius: 40px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px 40px 15px 25px;
    input {
      position: relative;
      max-width: 152px;
      &::placeholder {
        font-weight: 400;
        font-size: 15px;
        color: #8ba3cb;
      }
    }
  }
  &__button {
    margin-right: 30px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #edebeb;
    }
  }
  .user__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

@media (width < 1150px) {
  .sidebar {
    display: none;
  }
  .header__sidebar-button {
    display: flex;
  }
}
@media (width < 730px) {
  button.header__button {
    display: none;
  }
}

@media (width < 570px) {
  .header {
    padding: 25px;
    &__title {
      font-size: 20px;
    }
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    * {
      margin: 0;
    }
    &__search {
      padding: 12px 19px;
      justify-content: flex-start;
      width: 100%;
      order: 5;
      img {
        width: 15px;
        height: 15px;
      }
      input {
        font-size: 13px;
      }
    }
    .user__link {
      width: 35px;
      height: 35px;
    }
  }
}
