.sidebar {
  position: relative;
  height: 100vh;
  padding-left: 44px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: #e6eff5 1px solid;
  transition: all 0.3s ease;
  .logo {
    min-width: 183px;
    max-width: 183px;
    padding: 33px 0px;
  }
  &.open {
    display: flex;
    transform: translateX(0);
    -webkit-box-shadow: 14px 2px 38px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 2px 38px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 2px 38px 0px rgba(34, 60, 80, 0.2);
  }
}
.nav {
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;
    font-weight: 500;
    font-size: 18px;
    color: #b1b1b1;
    text-decoration: none;
    &.active {
      color: #1814f3;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.close__button {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 42px;
  right: 33px;
}

@media (width < 1150px) {
  .sidebar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 300px;
  }
  .close__button {
    display: block;
  }
}
