@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  #root {
    background: #f5f7fa;
    height: 100vh;
    display: flex;
    .content {
      width: 100%;
      overflow-y: scroll;
    }
  }
}
